<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/validate.js"></script>
</head>
<body>
<h1>Hello</h1>

<form onsubmit="crearEvento()">
    <input id="nombre-evento" type="text" placeholder="Nombre evento">
    <br>
    <br>
    <textarea id="descripcion-evento" placeholder="Descripcion evento"></textarea>
    <br>
    <br>
    <input type="submit" value="Crear evento">
</form>

<button onclick="signOut()">Sign Out</button>
<button onclick="getUsers()">Users</button>
<button onclick="getEvents()">Events</button>
<button onclick="showEventsFromUser()">Events from User</button>
<h3>Users</h3>
<ul id="users"></ul>
<br>
<br>
<h3>Events</h3>
<ul id="events"></ul>
<br>
<br>
<h3>Events from User</h3>
<ul id="events-from-user"></ul>
<br>
<br>
<input id="evento-buscado" type="text" placeholder="Buscar evento">
<br>
<br>
<button onclick="buscarEvento()">Buscar</button>
<ul id="evento"></ul>
<br>
<br>
<input id="usuario-buscado" type="text" placeholder="Buscar usuario">
<br>
<br>
<button onclick="buscarUsuario()">Buscar</button>
<ul id="usuario"></ul>
</body>
</html>