<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example </title>
    <script src="../static/js/login.js"></script>
</head>
<body>
<!--<div>-->
    <!--Invalid name and password.-->
<!--</div>-->
<!--<div>-->
    <!--You have been logged out.-->
<!--</div>-->
    <div><label> User Name : <input type="text" name="username" id="username"/> </label></div>
    <div><label> Password: <input type="password" name="password" id="password"/> </label></div>
    <div><button onclick="login()">Login</button></div>
</body>
</html>