@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

body{
    background: url("../images/background.jpg") ;
}

h1{
    font-family: "Helve";
    font-size: 100px;
    color: white;
}


/*.footer{*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*}*/

.fill {
    min-height: 100vh;
    height: 100%;
}

.custom-header{
    border-bottom: 1px solid white;

}

.custom-header .title{
    font-size: 24px;
}

.header-element{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: white;
}

.color-white{
    color: white;
}
.user_elem{
    margin: 15px;
}

.username{
    color: white;
}

.checked{
    color: white;
}
label{
    color: white;
}
.event-form{
    margin: 5px;
}
a{
    color: white;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.table .header {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
}

.table .content {
    height: 74vh;
    overflow-y: scroll;
    /*overflow-y: auto;*/

}

.customHeight{
    height: 30px;
}

.pointer{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.customCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customRight{
    display: flex;
    justify-content: right;
    align-items: center;
}

.customBorderRight{
    border-right: 1px solid white;
}

.customBorderTop{
    border-top: 1px solid white;
}

.customBorderBottom{
    border-bottom: 1px solid white;
}

.customBorderBottomBlack{
    border-bottom: 1px solid black;
}

.customBorderLeft{
    border-left: 1px solid white;
}

.search-filter{
    margin-right: 10px;
    color: black !important;
}

.min-width-100{
    min-width: 100%;
}

.fs-16{
    font-size: 16px;
}

.detailBox {
    width: 100%;
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:50vh;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}