h1{
    font-family: "Helve";
    font-size: 100px;
}

.footer{
    bottom: 0;
    position: absolute;
}

.fill {
    min-height: 100vh;
    height: 100%;
}

.custom-header{
    font-size: 24px;
}

.header-element{
    color: black;
    text-decoration: none;
}