body{
    background: url("../images/back.jpg");
}
h1{
    font-family: "Helve";
    font-size: 100px;
    color: white;
}
button, a{
    margin: 50px;
    color: white;
}
h5{
    color: rgba(239, 184, 241, 0.53);
}
#userNameTag, #passwordTag, #repeat_password{
    margin: 30px;
    align-items: center;
    color: white;
}
p{
    margin: 5px;
}
.form-group, .custom-control-label{
    color: white;
}